.search-artist-input {
  width: 20em;
  border-radius: 3px;
  border: 2px solid grey;
  margin-top: 2em;
}
.search-icon {
  font-size: 20px;
}
.search-artist-div {
  width: 50%;
  margin: 0 auto;
}
.input-group-artist {
  margin: 2em auto;
  width: 80%;
}
@media only screen and (max-width: 425px) {
  .input-group-artist  {
    width: 100%;
    margin: 1em auto;
  }
  .back-button {
    margin: 1em auto!important;
  }
}
.body-artist-search {
  background-color: black;
  height: 100%;
  min-height: 100vh;
}
.back-button {
  color: white;
  border-radius: 3px;
  border: 2px solid white;
  margin: 2em auto;
}
.back-button:hover {
  color: #6d6e70;
  border: 2px solid #6d6e70
}
