<div [ngClass] = "(artists.length === 0) ? 'body-artist-search': 'body-artist-search-data' ">
  <app-nav></app-nav>
  <div class="search-artist-div">
    <form  #searchForm = "ngForm" (ngSubmit) = "searchArtist()">
      <div class="row">
        <button class="btn back-button" [routerLink]="['/']">Back</button>
        <div class="input-group input-group-artist">
          <input type="text" class="form-control"
          required [(ngModel)]="model.artistName" name="artistName"
            #artistName= "ngModel"  placeholder="Search for an artist..."
            (keyup)="search($event)" required>
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit" [disabled] ="!searchForm.valid">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <app-artist-search-results></app-artist-search-results>
  <div *ngIf="showPagination">
    <div  class="artists-pagination">
      <div class="row">
        <div class="col-xs-12 col-12">
          <pagination [totalItems]="totalResult" [maxSize]="5" [boundaryLinks]="true"
          [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

